@font-face {
    font-family: heavyHeap;
    src: url(./heavy_heap/heavy\ heap\ rg.otf);
  }

@font-face {
    font-family: titaniaText;
    src: url(./titania/Titania-Regular.ttf);
}

*{margin: 0;
    padding: 0;}

.tituloPagina{
    background-color: black;
    display: flex;
    flex-direction: row;
}    

.logoPagina{
    width: 125px;
    height: 125px;
}

.tituloPagina h1{
    font-family: heavyHeap;
    font-size: 60px;
    color: rgb(228, 98, 141);
    /* margin: auto; */
    align-self: center;
}

.navbar{
    background-color: black;
}

.navbar-brand{
    font-family: heavyHeap;
    color: rgb(228, 98, 141) !important;
    font-size: 25px;
}

.nav-link{
    font-family: heavyHeap;
    color: white !important;
    font-size: 20px;
    text-decoration: underline;
    text-decoration-color: rgb(228, 98, 141);
}

.navbar-toggler{
    border-color: rgb(228, 98, 141) !important;
}

.footerPaginas{
    background-color: black;
    font-family: heavyHeap;
    color: rgb(228, 98, 141);
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}

.footerPaginas li{
    display: inline-block;
    justify-content: left;
}

.footerPaginas a{
    text-decoration: none;
    color: rgb(228, 98, 141);
    list-style: none;
    font-size: 18px;
    }

.footerPaginas img{
    width: 20px;
    height: 20px;
    padding: 5px;
}

.footerPaginas h2{
    text-align: right;
    font-size: 20px;
}

.footerPaginas div{
    padding: 5px 10px;
}

.footerPaginas ul{
    padding:0px
}

i {
    color:white;
    padding:5px;
}
