.mainProductos{
    font-family: $fuente-principal;
    font-size: map-get($tamanioTipografia, iconosNavbar);

    h1{
        @extend %tituloPaginas;
    }

    li{
        list-style: none;
        text-decoration: underline;
        text-decoration-color: $color-fuente1;
        padding-bottom: 11px;
    }

    span{
         color: $color-fuente1;
    }
}

.falsoCarousel{
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    overflow-x: scroll;
    width: 60vvw;
    margin: auto;
    

    &.__items{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}

.falsoCarousel__fotos{
    height: 200px;
    width: 200px;
    margin: 15px;
}

.falsoCarousel_texto{
    text-align: center;
    font-size: map-get($tamanioTipografia, titulosProductos);
}