@font-face {
    font-family: heavyHeap;
    src: url(./heavy_heap/heavy\ heap\ rg.otf);
  }

@font-face {
    font-family: titaniaText;
    src: url(./titania/Titania-Regular.ttf);
}

*{margin: 0;
    padding: 0;}

ul{
    list-style: none;
}
    
html{
    height: 100%;
}    